@page
@model IndexModel
@{
}

@foreach (Conference conference in Model.Conferences)
{
    <h2>@conference.Name</h2>

    foreach (Division division in Model.GetDivInConference(conference.ConferenceId))
    {
        <h3>@division.Name</h3>

        <div class="d-flex bg-primary text-white">
            <div style="flex: 0 0 25%">Team</div>
            <div style="flex: 0 0 25%">Location</div>
            <div style="flex: 0 0 25%">Win</div>
            <div style="flex: 0 0 25%">Loss</div>
        </div>

        foreach (Team team in Model.GetTeamInDivision(division.DivisionId))
        {
            <a asp-page="./Team" asp-route-TeamId="@team.TeamId">
                <div class="d-flex bg-white text-black-50">
                    <div class="p-1" style="flex:0 0 25%">@team.Name</div>
                    <div class="p-1" style="flex:0 0 25%">@team.Location</div>
                    <div class="p-1" style="flex:0 0 25%">@team.Win</div>
                    <div class="p-1" style="flex:0 0 25%">@team.Loss</div>
                </div>
            </a>
        }
    }
}    