@page
@model TeamModel
@{
}

<div class="jumbotron p-2">
    <h1><img src="~/image/nfl/logo/@(Model.Team.TeamId).png" />@Model.Team.Location  @Model.Team.Name</h1>
</div>

<div class="d-flex justify-content-between">
    <div class="d-block">
        <div>@(Model.Team.Division.ConferenceId) - @Model.Team.DivisionId</div>
        <div>Record: @(Model.Team.Win)-@(Model.Team.Loss)-@Model.Team.Tie</div>
        <hr />
        <div>@Model.Team.Stadium</div>
        <div>@Model.Team.Capacity</div>
        <hr />
        <div>@Model.Team.Address</div>
        <div>@(Model.Team.City), @Model.Team.State @Model.Team.Zip</div>
        <img src="~/image/nfl/stadium/@(Model.Team.TeamId).jpg" />
    </div>
    <div class="d-flex">
        <img src="~/image/nfl/seating/@(Model.Team.TeamId).png" />
    </div>
</div>
<br />

<div class="d-flex bg-primary text-white">
    <div class="p-1" style="flex:0 0 10%">Number</div>
    <div class="p-1" style="flex:0 0 25%">Name</div>
    <div class="p-1" style="flex:0 0 10%">Position</div>
    <div class="p-1" style="flex:0 0 20%">Experience</div>
    <div class="p-1" style="flex:0 0 25%">College</div>
</div>

@foreach (Player player in Model.Team.Players)
{
    <a class="links" asp-page="./Player" asp-route-PlayerId="@player.PlayerId">
        <div class="d-flex text-black-50">
            <div class="p-1" style="flex:0 0 10%">@player.Number</div>
            <div class="p-1" style="flex:0 0 25%">@player.Name</div>
            <div class="p-1" style="flex:0 0 10%">@player.Position</div>
            <div class="p-1" style="flex:0 0 20%">@player.Experience</div>
            <div class="p-1" style="flex:0 0 25%">@player.College</div>
        </div>
    </a>
}

