@page
@model TeamModel
@{
}

<h2>Team Name: @Model.Team.Name</h2>
<h5>Location: @Model.Team.Location</h5>
<h5>City: @Model.Team.City</h5>
<h5>Divison: @Model.Team.Location</h5>
<h5>Wins: @Model.Team.Win</h5>
<h5>Losses: @Model.Team.Loss</h5>
<h5>Tie: @Model.Team.Tie</h5>
