@page
@model PlayerModel
@{
}

<h1>@Model.Player.Name</h1>

<div>Rating: @Model.Player.Rating</div>
<div>Rank: @Model.Player.Rank</div>
<div>Depth: @Model.Player.Depth</div>
<div>Experience: @Model.Player.Experience</div>
<div>College: @Model.Player.College</div>
<div>DraftYear: @Model.Player.DraftYear</div>
<div>Height: @Model.Player.Height</div>
<div>Weight: @Model.Player.Weight</div>
<div>Age: @Model.Player.Age</div>
<div>Birthday: @Model.Player.BirthDate</div>


